@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,400;1,600&family=Merriweather:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg-primary: #545456;      /* arkaplan koyu gri */
  --color-bg-secondary: #666b6e;    /* daha koyu gri ana ekranda kullanılıyor */
  --color-text-primary: #e6e6e6;    /* koyu arkaplan için beyaz yazı */
  --color-text-secondary: #545456;  /* açık arkaplan için siyah yazı  */
  --color-accent: #1096d1;          /* mavi */
  --color-bg-popup: #C4C4C4;        /*Popup elementleri için arka plan*/
  --color-bg-cancel: #F05252;       /*Cancel butonu rengi*/
}

html, body {
  @apply bg-primary;
}

*:not(option, svg) {
  color: var(--color-text-primary);
}

.scrollbar--gray::-webkit-scrollbar {
  width: 8px;
}
.scrollbar--gray {
  scrollbar-width: thin;
  scrollbar-color: var(--color-accent) var(--color-bg-popup);
  scrollbar-radius: 5px;
}
.scrollbar--gray::-webkit-scrollbar-track {
  background: var(--color-bg-popup);
}
.scrollbar--gray::-webkit-scrollbar-thumb {
  background-color: var(--color-accent);
  border: none;
}

select {
  /* background-color: white; */
  display: inline-block;
  font: inherit;
  margin: 0;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;

  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%);
  background-position:
    calc(100% - 20px) 0.75rem, 
    calc(100% - 15px) 0.75rem;
  background-size:
    5px 5px,
    5px 5px;
  background-repeat: no-repeat;
}

select:focus {
  background-image:
    linear-gradient(45deg, gray 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, gray 50%);
  background-position:
    calc(100% - 15px) 0.75rem,
    calc(100% - 20px) 0.75rem;
  background-size:
    5px 5px,
    5px 5px;
  background-repeat: no-repeat;
  outline: 0;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

@variants hover, focus {
  .bg-primary {
    background-color: var(--color-bg-primary);
  }
  .bg-cancel{
    background-color: var(--color-bg-cancel);
  }
  .bg-header {
    background-color: var(--color-text-primary);
  }

  .bg-popup {
    background-color: var(--color-bg-popup);
  }
  
  .text-primary {
    color: var(--color-text-primary);
  }
  
  .border-primary {
    border-color: var(--color-text-primary);
  }

  .bg-secondary {
    background-color: var(--color-bg-secondary);
  }
  
  .text-secondary {
    color: var(--color-text-secondary);
  }
  
  .border-secondary {
    border-color: var(--color-text-secondary);
  }

  .bg-accent {
    background-color: var(--color-accent);
  }
  
  .text-accent {
    color: var(--color-accent);
  }

  .border-accent {
    border-color: var(--color-accent);
  }

} 